{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>game</title>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts-zh_CN.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/sequences.css' %}" /> -->
</head>

<body>
    <div id="container" style="min-width: 160px; width: 300px; height: 400px; margin: 0 auto"></div>
    <!-- 游戏列表 -->
    <div class="main-nav" style="width: 500px;height: 500px">

    </div>

</body>

</html>